@use '../general' as app;

.slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.slider__pagination-item  {
  width: 20px; height: 20px;
  border: 2px solid app.$sky_c;
  border-radius: 50%;
  background: transparent;
  outline: none;
  transition: all app.$trans_fast ease-in;
  &:hover {
    transform: scale(1.1);
    background-color: app.$sky_c;
  }
  &[data-state="active"] { background-color: app.$sky_c; }
}
